<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Jokes API</title>
</head>
<body>
    <div class="parent">
    <div class="child1">
        <h1>Enter your name to get a Joke:</h1>
        <form action="/joke" method="POST">
            <input type="text" name="name" placeholder="Enter your name" required>
            <button type="submit">Get Joke</button>
    </div>
    <div class="child2">
        <h2>Joke:</h2>
        <% if (locals.joke) { %>
        <p><%= joke %></p>
        <% } %>
    </div>
    </div>
</body>
</html>